_<div id="modal-grid" class="modal hide fade" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <ul class="nav nav-pills">
      <li id="gridnew" class="active"><a href="#">Purchase New Nodes</a></li>
      <li id="gridexist"><a href="#">Add Existing Nodes</a></li>
    </ul>
  </div>
  <form id="form-gridnew" class="form-horizontal" method="post" action="/grid" enctype="multipart/form-data">
    <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input name="_method" type="hidden" value="post" />   
    <div class="modal-body"> 
      <div class="gridnew">
        <div class="control-group">
          <div class="control-group">
            <label class="control-label">Quantity</label>
            <div class="controls">
              <input id="quantity" name="quantity" type="text" placeholder="Number of grid nodes to start">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Region</label>
            <div class="controls">
              <select name="region">
                <option value="au_nsw" disabled>Australia (Sydney)</option>
                <option value="us_east_1" disabled>US East (Northern Virginia)</option>
                <option value="us_west_1" disabled>US West (Oregon)</option>
                <option value="us_west_2" disabled>US West (Northern California)</option>
                <option value="eu_west_1" disabled>EU (Ireland)</option>
                <option value="ap_southeast_1">Asia Pacific (Singapore)</option>
                <option value="ap_northeast_1" disabled>Asia Pacific (Tokyo)</option>
                <option value="sa_east_1" disabled>South America (Sao Paulo)</option>
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Auto Stop</label>
            <div class="controls">
              <select id="auto_stop" name="auto_stop">
                <% 1.upto 12 do |i| %>
                  <option value="<%= i %>">After <%= pluralize i, 'hour' %></option>
                <% end %>
                <option value="0">Disable auto stop, stop manually.</option>
              </select>
            </div>
          </div>

        </div>
      </div>
    </form>
    <form id="form-gridexist" class="form-horizontal" method="post" action="/nodes/slave" enctype="multipart/form-data">
      <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input name="_method" type="hidden" value="post" /> 
      <div class="gridexist" style="display: none;">
        <div class="control-group">
          <div class="control-group">
            <label class="control-label">Slave</label>
            <div class="controls">
              <input id="slave" name="slave" type="text" placeholder="Add existing slave node IP">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">     
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-gridnew btn-success">Start Nodes</a>
    <a href="#" class="btn btn-gridexist btn-success" style="display: none;">Add Node</a>
  </div>
</div>