<div class="span12"> 
  <div class="slate clearfix">
    <div id="stats_response_times">         
      <a class="mean stat-column active" href="#"></a>
      <a class="sdev stat-column" href="#"></a>
      <a class="max stat-column" href="#"></a>
      <a class="min stat-column" href="#"></a>
    </div>
    <div id="stats_throughput">         
      <a class="mean stat-column active" href="#"></a>
      <a class="sdev stat-column" href="#"></a>
      <a class="max stat-column" href="#"></a>
      <a class="min stat-column" href="#"></a>
      <a class="tps stat-column" href="#"></a>
      <a class="total stat-column" href="#"></a>
    </div>
    <div id="stats_concurrency">      
      <a class="mean stat-column active" href="#"></a>
      <a class="last stat-column" href="#"></a>
      <a class="max stat-column" href="#"></a>
    </div> 
    <div id="stats_generic">      
      <a class="apdex stat-column active" href="#"></a>
      <a class="failed stat-column" href="#"></a>
      <a class="failedpersec stat-column" href="#"></a>
    </div>  
  </div>    
</div>