<div id="supportmodal" class="modal hide fade" style="display: none; ">
  <div>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <ul class="nav nav-pills">
        <li id="support" class="active"><a href="#">Contact Support</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Knowledge Base <b class="caret"></b></a>
          <ul id="knowledge" class="dropdown-menu">
            <li><a href="/articles/1_1_overview_features.html">Overview & Features</a></li>
            <li><a href="/articles/1_2_getting_started.html">Getting Started</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="modal-body">

      <div class="support">
        <form id="form-support" method="post" action="/support" enctype="multipart/form-data" class="form-horizontal">
          <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <div class="control-group">
            <div class="controls">
              <input type="text" class="input-xlarge" id="subject" name="subject" placeholder="Message subject">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" id="body" name="body" rows="5" placeholder="How can we help you?"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="text" class="input-xlarge" id="from" name="from" placeholder="Your email address">
            </div>
          </div>
        
      </div>

      <div class="knowledge" style="display: none;">
        
      </div>
      
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <button type="submit" class="btn btn-success">Send Message</button>
    </div>
    
    </form>
  </div>
    <script>
    $("#form-support").validate({
      rules: {
        subject: {
          required: true
        },
        threads: {
          body: true
        },
        from: {
          required: true
        }
      },
      messages: { 
        subject: "Please provide a subject for your feedback", 
        body: "Please provide some details for your feedback",
        from: "Let us know how to contact you"
      }
    });
  </script>

</div>