<div class="secondary-masthead">  
  <div class="container">    
    <ul class="breadcrumb">
      <li class="active">Setup</li>
     </ul> 
  </div> 
</div>

<div class="main-area dashboard">
  <div class="container">

    <div class="alert alert-warning">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Grid Node Initialized</h4>
      It looks like this is the first time this grid node has been initialized. To complete the setup, please sign in.
    </div>

  </div>
</div>